.Viewer {
  .menu {
    position: fixed;
    padding: 20px;
  }
}

.annotation {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  transition: opacity .2s;

  .title, .submit {
    color: white;
    display: block;
    box-shadow: none;
    outline: none;
    font: 14px sans-serif;
  }

  .title {
    background: black;
    border: 2px solid #444;
    padding: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .submit {
    width: 100%;
    background-color: #1149c6;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    float: right;
  }
}


